<form class="newroom">
  <div class="form-group name">
    <label>Room Name</label>
    {{input value=name class="form-control"}}
  </div>
  <button {{action "save" name}} class="btn btn-primary addroombutton">add room</button>
</form>
<form class="newroom">
  <div class="form-group list">
    <label>ToDo List</label>
    {{input value=todo class="form-control"}}
  </div>
  <button {{action "add" todolist}} class="btn btn-primary addroombutton">add ToDo List</button>
</form>

<div class="content">
  <div class="left">
    <h1>Organisation</h1>
    {{#each model.rooms as |room|}}
      {{room-card room=room}} 
    {{/each}}
  </div>
  <div class="right">
    <h1>ToDo List</h1>
    {{list-list model=model.lists}}
  </div>
</div>

