<div class="card">
  <h2>{{room.name}}</h2>
  <ul>
    {{#each tasks as |task|}}
      <li>
        {{todo-item task=task}}
      </li>
    {{/each}}
  </ul>  
  <form>
    <div class="form-group description">
      <label>Description</label>
      {{input value=description class="form-control"}}
    </div>
    <div class="form-group frequency">
      <label>Frequency</label>
      <select onchange={{action (mut frequency) value="target.value"}}>
        <option>--</option>
        {{#each days as |day|}}
          <option value={{day.id}}>{{day.__str__}}</option>
        {{/each}}  
      </select>
    </div>
    <button {{action "save" description frequency}} class="btn btn-primary addbutton">Add</button>
    <div class="clearfix"></div>
  </form>
</div>
